/*Estilo para el cuerpo*/
body {
    background-color: white;
}

/*Estilo Calculadora*/
.calculadora{
    padding-top: 20px;
    padding-bottom: 23px;
    background-color: lightskyblue;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 600px;
}

/*Estilo botones*/
button{
    width: 40px;
    height: 40px;
    background-color:white;
    color:black;
    font-weight: bold;
    border-color: grey;
    border-style: ridge;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 5px 5px 5px 5px;
}

/*Estilo display*/
p {
    background-color: white;
    color: black;
    text-align: right;
    font-size: 55px;
    width: 400px;
    height: 100px;
    border-color: grey;
    border-style: ridge;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 5px 5px 5px 5px;
    margin-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip clip;
}
