/*Estilo cuerpo*/
body {
    background-color: gray;
}

/*Estilo calculadora*/
.calculadora {
    display: block;
    margin: 0 auto; /*centrar la calculadora en el centro*/
    padding: 20px;
    background-color: lightblue;
    width: 500px;
    height: 600px;
    border-radius: 25px;
}

/*Estilo botones*/
.calculadora td button{
    display: block;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

/*Estilo para la caja donde sale el resultado*/
#display {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 450px;
    height: 100px;
    line-height: 100px;
    background-color: lightgray;
    border-radius: 15px;
}