body {
    padding: 10px;
    border: solid;
    border-color: white;
    margin: 10px;
    color: black;
    background-image: url(cementerio1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.centrado{
    margin: 5px auto;
    display: block;
}


legend {
    padding: 5px;
    border: solid;
    border-color: white;
    font-weight: bold;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
    color: black;
}


h1 {
    font-size: 30px;
    color:white;
    font-family: cursive;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 10px;
    color:rgb(238, 65, 195);
    font-family: Arial, Helvetica, sans-serif;
}