body {
    padding: 10px;
    border: solid;
    border-color: white;
    margin: 10px;
    color: black;
}

legend {
    padding: 5px;
    border: solid;
    border-color: black;
    font-weight: bold;
    border-radius: 20px;
    background-color: blue;
}


