body {
    padding: 10px;
    border: solid;
    border-color: white;
    margin: 10px;
    color: black;
}

.centrado{
    margin: 10px auto;
    display: block;
}


legend {
    padding: 5px;
    border: solid;
    border-color: black;
    font-weight: bold;
    border-radius: 20px;
    background-color: lightcyan;
}


h1 {
    font-size: 30px;
    color: black;
    font-family: cursive;
    text-align: center;
}

h3 {
    color: lightpink;
    font-family: 'Homemade Apple', cursive;
    margin-left: 20px;
}

h4 {
    color: black;
    font-family: 'Homemade Apple', cursive;
    margin-left: 10px;
}