body {
    padding: 10px;
    border: solid;
    border-color: white;
    margin: 10px;
    background-image: url("cementerio.jpg");
    background-repeat: no-repeat; 
    color: black;
}

legend {
    padding: 5px;
    border: solid;
    border-color: black;
    font-weight: bold;
    border-radius: 20px;
    background-color: lightcyan;
}

h1 {
    font-size: 30px;
    color: black;
    font-family: cursive;
    text-align: center;
  }

