/*Estilo cuerpo*/
body {
    padding: 10px;
    border: solid;
    border-color: white;
    margin: 10px;
    color: black;
}

/*Estilo para el fondo*/
.fondo{
    background-image: url(cementerio3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Estilo para la imagen del autor*/
.centrado{
    margin: 5px auto;
    display: block;
}

/*Estilo frase debajo de imagen*/
.frase{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/*Estilo para las tablas*/
legend {
    padding: 5px;
    border: 0ch;
    font-weight: bold;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
    color: black;
}

/*Estilo del bot칩n*/
.Bot칩n{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 30;
    font-size: 10px;
    font-style: italic;
    color: cornflowerblue;
    background-color:white;
    border-radius: 5px;
    border: 3px black;

}

/*Estilo para el titulo*/
h1 {
    font-size: 35px;
    color:black;
    font-family: cursive;
    text-align: center;
    text-shadow: gray 6px 3px 4px; /*sombra*/
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilo para las redes sociales*/
.redessociales{
    background-position: center;
    margin-left: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:cornflowerblue;
}

/*Estilo vi침eta*/
.vi침eta{
    list-style-image: url(libro.png);
    color: cornflowerblue;
}

/*Estilo plataformas*/
#novelas{
    font-size: 15px;
    color:rgb(47, 143, 253);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
