
body {
    background-color: rgb(33, 88, 84);
}

h2{
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    color: rgb(255, 160, 215);
}
#directo{
    margin-left: 475px;
    margin-top: 10px;
}

#video1{
    margin-left: 500px;
    margin-top: 10px;
}

input{
    background-color: rgb(90, 90, 90);
    background-position: center;
    color: rgb(255, 160, 215);
    border-radius: 10px;
    border: 10px black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px;
    padding-left: 10px; /*relleno*/
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 30;
    font-size: 20px;
    font-style: normal;
}

#btn_video1{
    margin-left: 500px;
    margin-top: 10px;
}

#btn_src_on{
    margin-left: 500px;
    margin-top: 10px;
}
