
body {
    background-color:lemonchiffon;
}

#cuerpo{
    width: 900px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 100px;
    padding-left: 35px;
    padding-right: 35px;
}

#izq{
    float: left;
    font-family: fantasy;
    font-weight: 10;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    color: rgb(28, 98, 160);
}

#der{
    float: right;
    font-family: fantasy;
    font-weight: 10;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    color: rgb(28, 98, 160);

}

#imagen_1{
    margin-left: 500px;
    margin-top: 20px;
    background-color: rgb(125, 177, 224);
    color: rgb(90, 90, 90);
    font-weight: 900;
}

#imagen_2, #imagen_3{
    background-color: rgb(125, 177, 224);
    color: rgb(90, 90, 90);
    font-weight: 900;
}
#botones{
    margin-left: 300px;
    margin-top: 20px;   
}


button {
    background-color: rgb(90, 90, 90);
    background-position: center;
    color: rgb(125, 177, 224);
    border-radius: 10px;
    border: 10px black;
    text-decoration: none;
    padding: 6px;
    padding-left: 10px; /*relleno*/
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 30;
    font-size: 20px;
    font-style: normal;
    
}

#deslizadores{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    color: black;
    text-align: center;
    column-count: 3;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}


#range_value_R, #range_value_G, #range_value_B{
    margin-right: 25px;
}
